<!DOCTYPE html>
<html>
<head>
  <title>Routeflex</title>
  <%= include_gon %>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgUT0t3K3y9cKJgITa8X1O7uGYjguNZT4">
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
